<!DOCTYPE html>
<html>
  <head>
    <title>Gmail Like</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gmail_Like</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-5">Bienvenu sur Gmail ! (ou presque)</h1>
      <p>Je sais que ça n'a rien a voir, mais si jamais vous aimez les photos, cliquez sur le bouton</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.facebook.com/Popoolos-Photo-111497400615678" target = "blank" role="button">Voir des supers photos </a></p>
    </div>
  </div>

    <%= yield %>
  </body>
</html>